.navigation {
    padding: 17px 0;
    max-height: 50px;
    background-color: #EFEFEF;
    &_list {
        margin-bottom: 0;
        line-height: 0;
        text-align: center;
        :last-child {
            padding-right: 0;
        }
       &_item {
           padding-right: 30px;
           color: rgba(51, 51, 51, 1);
            display: inline;
            list-style: none;
            font-size: 14px;
            line-height: 16px;
       } 
    }
}

.logo {
    padding: 20px 0 19px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &_wrap {
        display: flex;
        align-items: center;
        &_header {
            margin-left: 20px;
            color: #66C05D;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.1em;
        }
    }
    &_call {
        text-align: right;
        &_phone {
            margin-right: 40px;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            text-decoration: none;
        }
        &_btn {
            padding: 12px 26px 13px 27px;
            background: #FFFFFF;
            border: 2px solid #66C05D;
            box-sizing: border-box;
            border-radius: 40px;
            font-size: 14px;
            line-height: 16px;
        }
    }
}
hr {
    margin: 0;
}