@mixin btn {
    padding: 12px 26px 13px 27px;
    background: #FFFFFF;
    border: 2px solid #66C05D;
    box-sizing: border-box;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
}